html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#associationScreen {
    display: none;
}

#doneButton {
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
}
#container {
    min-height: 100%;
}

#doneScreen {
    display: none;
}
