html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#configScreen {
}
.custom-file-control:before{
    content: "Browse";
}
.custom-file-control:after{
    content: "Add files..";
}


#instructionScreen {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,0%);
    width: 600px;
    margin: auto;
}
.activeInstruction {
    display: block !important;
}
#instructionsContainer p{
    display: none;
}
#nextButton {
    float: right;
}
#prevButton {
    float: left;
}

#associationScreen {
    display: none;
}

#doneButton {
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
}
#container {
    min-height: 100%;
}

#doneScreen {
    display: none;
}

